@font-face {
  font-family: "Nexa";
  src: url("NexaLight.eot"), /* IE9 Compat Modes */
       url("NexaLight.svg") format("svg"), /* Legacy iOS */
       url("fonts/NexaLight.otf") format('opentype'), 
       url("fonts/NexaLight.ttf") format('truetype'), /* Safari, Android, iOS */
       url("fonts/NexaLight.woff") format('woff'), /* Modern Browsers */
       url("fonts/NexaLight.woff2") format('woff2');
}

@font-face {
  font-family: "Nexa";
  font-weight: bold;
  src: url("NexaBold.eot"), 
       url("NexaBold.svg") format("svg"), 
       url("fonts/NexaBold.otf") format('opentype'), 
       url("fonts/NexaBold.ttf") format('truetype'), 
       url("fonts/NexaBold.woff") format('woff'), 
       url("fonts/NexaBold.woff2") format('woff2');
}

:root {
  --dark-background-color: #222629;
  --light-background-color: #474B4F;
  --dark-highlight-color: #61892F;
  --light-highlight-color: #86C232;
  --text-color: #ebebeb;
  --light-grey-text-color: #d7d7d7;
  --text-hover-color: #6B6E70;
  --shadow-color: #020C1BB3;
  --shadow-hover-color: #020C1BE6;

  /* Bleu */
  /* --dark-background-color: #0e1c27;
  --light-background-color: #52828e;
  --dark-highlight-color: #7da5a4;
  --light-highlight-color: #9fbeb8;
  --text-color: #eee9d5;
  --light-grey-text-color: #e4decc;
  --text-hover-color: #6B6E70;
  --shadow-color: #020C1BB3;
  --shadow-hover-color: #020C1BE6; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 105%;
  scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", "Nexa";
    font-weight: 400;
    background: var(--dark-background-color);
    color: var(--text-color);
    line-height: 1.5em;
}

/* Reminder to yoself to do the media queries */
h1 {
  font-size: 2.25rem;
}

@media (min-width: 700px) { 
  h1 { 
    font-size: 3.5rem;
  }
}

@media (min-width: 1000px) {   
  h1 {
    font-size: 4.75rem;
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Rubik", "Nexa";
  font-weight: 300;
}

a { 
  cursor: pointer;
}

.default-cursor {
  cursor: default;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

.nodrag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* .notouch {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	cursor: default;
} */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upper-center {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}


.color-transition {
  transition:color .15s ease-in;
}

a .color-transition:hover {
  color: var(--dark-highlight-color);
}

.item .color-transition:hover,
.dropdown-item .color-transition:hover {
  background-color: var(--light-background-color);
  /* background-color: var(--shadow-hover-color); */
}

.dotted-line {
  border-bottom: 3px dotted var(--text-color);
  padding: 0;
}

.contact a {
  color: var(--light-highlight-color);
}

.text-bold {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}


/*#region Header*/

/* Header CSS ----------------------------------------------------------------------------------------------------------------------------------- */

#header {
  position: fixed;
  display: flex;
  -moz-box-pack: justify;
  justify-content: flex-end;
  -moz-box-align: center;
  align-items: center;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  box-shadow: 0px 10px 30px -10px var(--shadow-color);
  z-index: 10;
  background-color: var(--dark-background-color);
  top: 0px;
  padding: 0rem 3rem;
  width: 100%;
  height: 5rem;
}

.stylednav {
  position: relative;
  display: flex;
  /* flex-direction: row-reverse; */
  -moz-box-pack: justify;
  justify-content: flex-end;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  color: rgb(204, 214, 246);
  counter-reset: item 0;
  z-index: 12;
  width: 100%;
  height: 5rem;
}

.nav-items {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  position: fixed;
  transition: top 0.3s;
  z-index: 2;
  height: 5rem;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.nav-items li {
  /* display:block; */
  position: relative;
  transition-duration: 0.5s;
  /* list-style-type:none;
  text-transform:uppercase; */
  /* height: 100%; */
}

.hidden li {
  padding: 0.1rem;
}

ul li ul {
  transition: all 0.25s ease;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
}

ul li ul li {
  clear: both;
  width: 100%;
}

/* 
li a {
  display:flex;
  text-align:center;
  text-decoration:none;
  padding: 1rem;
} */


.nav-items a {
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1rem;
}

.nav-items a:hover {
  color: var(--text-hover-color);
}


/* dropdown arrow
.dropdown-list > a::after {
  content: '\f431';
} */


/* .dropdown-list > a {
  padding: 0;
} */

.flex-override {
  display: flex !important;
}

.dropdown-list > ul {
  position: absolute;
  top: 100%;
  display: none;
  -moz-box-pack: center;
  -moz-box-align: center;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 100%;
  height: 100%;
}

.dropdown-list:hover > ul {
  display: flex;
}

.dropdown-item {
  background-color: var(--dark-background-color);
}

.dropdown-item svg {
  width: 18px;
  height: 18px;
  fill: currentcolor;
  vertical-align: middle;
}

/*#endregion Header*/

/*#region Intro*/

/* Intro CSS ----------------------------------------------------------------------------------------------------------------------------------- */

.intro > h1 {
  font-size: 3.5rem;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  line-height: 1.2em;
  text-align: left;
  text-shadow: 2px 4px 5px rgba(0,0,0, 0.4), 0 -5px 35px rgba(255, 255, 255, 0.5);
}

.intro > p {
  color: var(--light-grey-text-color);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0;
  text-align: left;
  text-shadow: 2px 4px 5px rgba(0,0,0, 0.3), 0 -5px 35px rgba(255, 255, 255, 0.3);
}

.intro .contact {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  grid-column-gap: 5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.item {
  list-style-type: none;
}

/*#endregion Intro*/


/*#region Template Page*/

/* Project Page Template ----------------------------------------------------------------------------------------------------------------------------------- */

#page {
  width: 100%;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 3em;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-background-color);
}

.footer span {
  text-align: center;
}

/* Add spacing between project and header */
#project-container {
  margin-top: 80px;
  width: 100%;
  /* opacity: 1;  */
  display: block;
}

#project-container a {
  color: var(--light-highlight-color);
  text-decoration: none;
}

#project-container a:hover {
  color: var(--dark-highlight-color);
  transition:color .15s ease-in;
}

#project-container .img-link img {
  flex: 1 1 auto;
  box-shadow: var(--shadow-color) 0px 10px 30px -15px;
}

#project-container .img-link img:hover {
  flex: 1 1 auto;
  box-shadow: var(--shadow-hover-color) 0px 20px 40px -15px;
}


/* Set size of project page, set bg colour if you want a frame for it, add some padding */
.project-contents-container {
  max-width: 67vw;
  padding-right: 1vw;
  padding-left: 1vw;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--light-background-color);
  border-radius: 5px;
}

/* Set up a flexbox, keeps bg sizing */
.contents-flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 1 1 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.flexbox-spacing {
  width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 1vw;
  padding-left: 1vw; 
}

.project-title-container {
  text-align: center;
  color: var(--dark-highlight-color);
}

.project-title {
  font-size: 3.5em;
  text-shadow: 2px 2px rgba(0,0,0, 0.4);
}

/* inside project-contents-container, sets sizing for content inside container */
.project-contents {
  width: 100%;
  min-height: 200px;
  /* padding: 1.25em; */
  z-index: 1;
}


/* 
.contents-flexbox > div {
  position: relative;
  display: inline;
} */

.project-facts-container {
  margin-bottom: 20px;
}

.contents-text-block {
  text-align: left;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  padding: 1em;
  width: 10vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
}

.collapsible:hover {
  background-color: var(--text-hover-color);
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 1em;
  color: white;
  float: right;
  margin-left: 0.5em;
}

.collapsible-content {
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.active, .collapsible:hover {
  background-color: #555;
}

.active:after {
  content: "\2212";
}

.img-container {
  width: auto;
  height: auto;
}

.banner-container {
  max-width: 80vw;
  align-self: center;

}

.sqr-img-container {
  max-width: 50%;

}

/* Test later, supposed to keep it sqred */
.sqr-img-container::after {
  content: "";
  /* display: block; */
  padding-bottom: 100%;
}

.portrait-container {
  max-height: 60vw;
}

.img-caption {
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
}

/* these should be on a case-by-case-basis, unless its templated */
.feature-portrait {
  /* width: 300px; */
  width: 50vh;
  max-height: 50vw;
}

/* these should be on a case-by-case-basis, unless its templated */
.feature-banner {
  /* height: 300px; */
  max-width: 25vw;
  /* max-height: 300px; */

}

.about-text {
  max-width: 35vw;
}

.contents-video-block {
  width: 100%;
  height: auto;
  margin: auto;
}

.contents-video-block video {
  max-width: 100%;
  max-height: 100%;
}

.contents-video-block #player {
  margin: auto;
  
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*#endregion Template Page */

/*#region Margin and Padding Utils*/

/* Margin and Padding Utils, port to own css thing later */

/* Margin */

.m-auto {
  margin: auto;
}

/* Top */
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25em !important;
}

.mt-2 {
  margin-top: 0.5em !important;
}

.mt-3 {
  margin-top: 1em !important;
}

.mt-4 {
  margin-top: 1.5em !important;
}

.mt-5 {
  margin-top: 3em !important;
}

/* Bottom */
.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25em !important;
}

.mb-2 {
  margin-bottom: 0.5em !important;
}

.mb-3 {
  margin-bottom: 1em !important;
}

.mb-4 {
  margin-bottom: 1.5em !important;
}

.mb-5 {
  margin-bottom: 3em !important;
}

/* Left */
.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25em !important;
}

.ml-2 {
  margin-left: 0.5em !important;
}

.ml-3 {
  margin-left: 1em !important;
}

.ml-4 {
  margin-left: 1.5em !important;
}

.ml-5 {
  margin-left: 3em !important;
}

/* Right */
.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25em !important;
}

.mr-2 {
  margin-right: 0.5em !important;
}

.mr-3 {
  margin-right: 1em !important;
}

.mr-4 {
  margin-right: 1.5em !important;
}

.mr-5 {
  margin-right: 3em !important;
}

/* x - left and right */
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 0.25em !important;
  margin-right: 0.25em !important;
}

.mx-2 {
  margin-left: 0.5em !important;
  margin-right: 0.5em !important;
}

.mx-3 {
  margin-left: 1em !important;
  margin-right: 1em !important;
}

.mx-4 {
  margin-left: 1.5em !important;
  margin-right: 1.5em !important;
}

.mx-5 {
  margin-left: 3em !important;
  margin-right: 3em !important;
}

/* y - top and bottom */
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25em !important;
  margin-bottom: 0.25em !important;
}

.my-2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

.my-3 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.my-4 {
  margin-top: 1.5em !important;
  margin-bottom: 1.5em !important;
}

.my-5 {
  margin-top: 3em !important;
  margin-bottom: 3em !important;
}

/* All */
.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25em !important;
}

.m-2 {
  margin: 0.5em !important;
}

.m-3 {
  margin: 1em !important;
}

.m-4 {
  margin: 1.5em !important;
}

.m-5 {
  margin: 3em !important;
}

/* Padding */

.p-auto {
  padding: auto;
}

/* Top */
.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25em !important;
}

.pt-2 {
  padding-top: 0.5em !important;
}

.pt-3 {
  padding-top: 1em !important;
}

.pt-4 {
  padding-top: 1.5em !important;
}

.pt-5 {
  padding-top: 3em !important;
}

/* Bottom */
.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25em !important;
}

.pb-2 {
  padding-bottom: 0.5em !important;
}

.pb-3 {
  padding-bottom: 1em !important;
}

.pb-4 {
  padding-bottom: 1.5em !important;
}

.pb-5 {
  padding-bottom: 3em !important;
}

/* Left */
.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25em !important;
}

.pl-2 {
  padding-left: 0.5em !important;
}

.pl-3 {
  padding-left: 1em !important;
}

.pl-4 {
  padding-left: 1.5em !important;
}

.pl-5 {
  padding-left: 3em !important;
}

/* Right */
.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25em !important;
}

.pr-2 {
  padding-right: 0.5em !important;
}

.pr-3 {
  padding-right: 1em !important;
}

.pr-4 {
  padding-right: 1.5em !important;
}

.pr-5 {
  padding-right: 3em !important;
}

/* x - left and right */
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 0.25em !important;
  padding-right: 0.25em !important;
}

.px-2 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.px-3 {
  padding-left: 1em !important;
  padding-right: 1em !important;
}

.px-4 {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

.px-5 {
  padding-left: 3em !important;
  padding-right: 3em !important;
}

/* y - top and bottom */
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25em !important;
  padding-bottom: 0.25em !important;
}

.py-2 {
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.py-3 {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.py-4 {
  padding-top: 1.5em !important;
  padding-bottom: 1.5em !important;
}

.py-5 {
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}

/* All */
.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25em !important;
}

.p-2 {
  padding: 0.5em !important;
}

.p-3 {
  padding: 1em !important;
}

.p-4 {
  padding: 1.5em !important;
}

.p-5 {
  padding: 3em !important;
}

/*#endregion Margin and Padding Utils*/


/*#region Init Page CSS*/

/* Init Page CSS ----------------------------------------------------------------------------------------------------------------------------------- */

.inline-block {
  display: inline-block;
}

.inline-block > p {
  display: inline;
}

.short-hr {
  width: 300px; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 0 0.5rem 0.3rem;
}

.main-wrap {
  width: 100%;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-projects {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  padding: 0px 200px;
  
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-section {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 150px 0px;
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
}

.projects-section > h2 {    
  position: relative;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  margin: 0px 0px 70px;
  padding-top: 30px;
  width: 100%;
  font-size: 2rem;
  white-space: nowrap;
  color: var(--dark-highlight-color);
}

.projects-section > h2::after {
  position: relative;
  content: "";
  display: block;
  height: 1px;
  width: 300px;
  background-color: var(--dark-highlight-color);
  margin-left: 25px;
}


.project-layout {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1 1 100%;
  width: 100%;
  border-top: 0;
  margin-bottom: 5em;
}

.project-layout a {
  color: var(--light-highlight-color);
  text-decoration: inherit;
}

.project-layout a:hover {
  color: var(--dark-highlight-color);
  transition:color .15s ease-in;
}

.project-img {
  /* flex: 1 1 auto; */
  max-width: 50%;
  max-height: 50%;
  /* max-width: 50vw;
  max-height: 50vh; */
  flex: 0 1 auto;
  transition: transform 0.1s ease-in;
}

.project-img:hover {
  transform: scale(0.98);
}

.project-img img {
  /* max-width: 50%;
  max-height: 50%; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* box-shadow: var(--shadow-color) 0px 10px 30px -15px; */
  box-shadow: var(--shadow-color) 0em 0.8em 2.4em -1.2em;
}

.project-img img:hover {
  box-shadow: var(--shadow-hover-color) 0px 1.2em 2.8em -1.2em;
}

.textnbuttonwrap {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: relative;
  background-color: var(--light-background-color);
  box-shadow: var(--shadow-color) 0px 10px 30px -15px;
  border-radius: 3px;
  padding: 1em;
  z-index: 2;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  font-size: 1rem;
  color: var(--text-color);
}

.textnbuttonwrap a {
  transition: transform 0.5s;
}

.textnbuttonwrap a:hover {
  transform: scale(0.95);
}

.itch-button img {
  max-width: 150px;
}

.gplay-button img {
  max-width: 200px;
}

.bg-colour {
  background-color: var(--text-hover-color);
}

.project-content { 
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 75px 0 0;
}

.align-right .project-content {
  padding: 0 0 0 75px;
}

.project-content > h3 {
  position: relative;
  font-size: 1.5rem;
  margin: 0px 0px 20px;
}

.project-content > p {
  position: relative;
  background-color: var(--light-background-color);
  box-shadow: var(--shadow-color) 0px 10px 30px -15px;
  border-radius: 3px;
  padding: 1em;
  z-index: 2;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  font-size: 1rem;
  color: var(--text-color);
}

/* Obsolete, but keep in case we want this layout later */
.skills-list {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  padding: 0px;
  margin: 25px 0px 10px;
  list-style: outside none none;
  color: var(--light-grey-text-color);
}

.skill-item {
  margin-left: 0px;
  margin-right: 20px;
  margin-top: 10px;
}

.skill-item > h4 {
  font-size: 1.1rem;
}
/* End obsolete */

.align-right {
  text-align: right;
}

.align-right .skills-list {
  -moz-box-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-right .skill-item {
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 10px;
}

/* Mobile CSS */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.mobile-navbar a {
  text-decoration: none;
  color: var(--text-color);
  font-size: larger;
}

.mobile-navbar a:hover {
  text-decoration: none;
  color: var(--text-hover-color);
}

/* My Mobil nav */
.mnavroot {
  display: flex;
  justify-content: flex-end;
}

.mnavbutton {
  /* background-color: var(--light-background-color); */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  z-index: 10;
}

.mnavbutton img {
  max-width: 100%;
  max-height: 100%;
}

.mnavroot #sidepanel {
  background-color: var(--dark-background-color);
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  width: 50%;
  height: 100vh;
  right: 100%;
  /* transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out; */
}

#panelbutt {
  display: none;
}

.mnavroot #overlaypanel {
  background-color: rgba(255, 255, 255, 0.1);
  /* display: block; */
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 99;
  right: 100%;
  /* transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out; */
  /* top: 0;
  right: 0; */
}

.mobile-layout {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobile-thumbnail {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;

  background: var(--light-background-color);
  transition: transform 0.1s ease-in;
  box-shadow: var(--shadow-color) 0px 10px 30px -15px;
}

.mobile-thumbnail:hover {
  color: var(--text-hover-color);
  transform: scale(0.98);
  box-shadow: var(--shadow-hover-color) 0px 20px 40px -15px;
}

.mobile-thumbnail p {
  text-align: center;
  font-size: 1em;
}

/* hides mobile on larger screens */
@media only screen and (min-width: 800px) {
  .mobile-layout {
    display: none;
  }

  .mobile-navbar {
    display: none;
  }

}

/* hides web on smaller screens */
@media only screen and (max-width: 800px) {
  #header {
    display: none;
  }
  
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }

  .main-container {
    padding: 50px;
  }
  
  .project-layout {
    display: none;
  }

  .project-img {
    max-width: 100%;
    max-height: 100%;
  }

  /* For project pages */
  .project-contents-container {
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .project-title {
    font-size: 2.5em;
  }

  .about-text {
    max-width: 100%;
  }

  .img-container {
    display: none;
  }

  .img-gallery {
    display: none;
  }

  .contents-video-block iframe {
    height: 195px;
    width: 320px;
  }

}

/* hides web on smaller screens */
@media only screen and (max-width: 800px) {
  /* For project pages */
  .project-title {
    font-size: 1em;
  }
}
/*#endregion Init Page CSS*/


/* SLIDE SHOW ------------------------------ */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* CONTACT PAGE-------------------------------- */

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 

